int-systemapi-order-movies/src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit-soap="http://www.mulesoft.org/schema/mule/apikit-soap" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/apikit-soap http://www.mulesoft.org/schema/mule/apikit-soap/current/mule-apikit-soap.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <apikit-soap:config httpStatusVarName="httpStatus" name="soapkit-config" port="TicketServicePort" service="TicketServiceService" wsdlLocation="TicketService.wsdl"/>
    <flow name="api-main">
        <http:listener path="/TicketServiceService/TicketServicePort" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[attributes.additionalTransportData.statusCode default 200]">
                <http:headers><![CDATA[#[attributes.protocolHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[attributes.additionalTransportData.statusCode default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[attributes.protocolHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit-soap:router config-ref="soapkit-config">
            <apikit-soap:attributes><![CDATA[#[%dw 2.0
              output application/java
              ---
              {
                  headers: attributes.headers,
                  method: attributes.method,
                  queryString: attributes.queryString
            }]]]></apikit-soap:attributes>
        </apikit-soap:router>
    </flow>
    <flow name="getOrders:\soapkit-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload>
                    <![CDATA[%dw 2.0
output application/java
ns soap http://schemas.xmlsoap.org/soap/envelope
---
{
    body: {
        soap#Fault: {
            faultcode: "soap:Server",
            faultstring: "Operation [getOrders:\soapkit-config] not implemented"
        }
    } write "application/xml"
}]]>
                </ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="getOrderbyID:\soapkit-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
ns ns0 http://soap.training.mulesoft.com/

output application/json
---
payload.body.ns0#getOrderbyID.TicketID]]>
                </ee:set-payload>
            </ee:message>
        </ee:transform>
		<flow-ref doc:name="getOrderByID" doc:id="b91555cb-1907-472c-9cfd-7635309c0bac" name="getOrderByIDFlow"/>
    </flow>
    <flow name="bookOrder:\soapkit-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[
%dw 2.0
ns ns0 http://soap.training.mulesoft.com/

output application/json
---
payload.body.ns0#bookOrder]]>
                </ee:set-payload>
            </ee:message>
        </ee:transform>
		<flow-ref doc:name="bookOrderFlow" doc:id="8c528a46-04b5-4627-bf0c-13f15eb57134" name="bookOrderFlow"/>
    </flow>
    <flow name="cancelOrder:\soapkit-config">
		<ee:transform doc:name="Transform Message" doc:id="5ae746f4-4c93-4079-90d2-632d5b600642" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0ns ns0 http://soap.training.mulesoft.com/

output application/json
---
payload.body.ns0#cancelOrder.TicketID]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="cancelOrderFlow" doc:id="7374433a-7539-437c-839a-144b0607b297" name="cancelOrderFlow"/>
    </flow>
</mule>
